<%= f.input :parent_id, as: :hidden, input_html: { value: params[:parent_id] } if params[:parent_id] %>
<%= f.input :name %>
<% if parent.present? %>
  <%= f.input :title, required: f.object.parent_list_or_buttons? %>
  <% if parent.question_type.eql?("list") %>
    <%= f.input :description %>
  <% end %>
<% end %>
<div data-question-form-target="body">
  <%= f.input :body %>
</div>
<div data-question-form-target="footer">
  <%= f.input :footer %>
</div>
<div data-question-form-target="answer">
  <%= f.input :answer %>
</div>
<%= f.input :question_type, as: :enum, input_html: { data: { action: "change->question-form#typeChanged", question_form_target: "questionType" } } %>
