<%= f.input :parent_id, as: :hidden, input_html: { value: params[:parent_id] } if params[:parent_id] %>
<%= f.input :name %>
<% if parent.present? %>
  <div data-controller="character-counter" data-character-counter-countdown-value="true">
    <%= f.input :title, required: f.object.parent_list_or_buttons?, input_html: { data: { character_counter_target: "input" }, maxlength: 24 } %>
    <p class="text-white text-sm flex justify-end">There are  <strong data-character-counter-target="counter" class="mx-1"></strong>  characters remaining.</p>
  </div>
  <% if parent.question_type.eql?("list") %>
    <div data-controller="character-counter" data-character-counter-countdown-value="true">
      <%= f.input :description, input_html: { data: { character_counter_target: "input" }, maxlength: 72 } %>
      <p class="text-white text-sm flex justify-end">There are  <strong data-character-counter-target="counter" class="mx-1"></strong>  characters remaining.</p>
    </div>
  <% end %>
<% end %>
<div data-question-form-target="body" data-controller="character-counter" data-character-counter-countdown-value="true">
  <%= f.input :body, input_html: { data: { character_counter_target: "input" }, maxlength: 1024 } %>
  <p class="text-white text-sm flex justify-end">There are  <strong data-character-counter-target="counter" class="mx-1"></strong>  characters remaining.</p>
</div>
<div data-question-form-target="footer" data-controller="character-counter" data-character-counter-countdown-value="true">
  <%= f.input :footer, input_html: { data: { character_counter_target: "input" }, maxlength: 60 } %>
  <p class="text-white text-sm flex justify-end">There are  <strong data-character-counter-target="counter" class="mx-1"></strong>  characters remaining.</p>
</div>
<div data-question-form-target="answer">
  <%= f.input :answer %>
</div>
<%= f.input :question_type, as: :enum, input_html: { data: { action: "change->question-form#typeChanged", question_form_target: "questionType" } } %>
