<%= turbo_frame_tag :remote_modal do %>
  <%= render ModalComponent.new(size: :large) do |modal| %>
    <%= simple_form_for @question do |f|%>
      <%= modal.with_header_content("Edit Question: #{@question.name}")%>
      <%= modal.with_body do %>
        <%= render partial: 'form', locals: {f: f} %>
      <% end %>
      <%= modal.with_footer do %>
        <h1>Footer</h1>
      <% end %>
    <% end%>
  <% end %>
<% end %>