<li id="<%= dom_id(question)%>">
  <div class="treeview__level" data-level="<%= question.level_alphabet %>">
    <div class="flex justify-between xl:block 2xl:flex align-center 2xl:space-x-4 h-full mt-2">
      <div class="flex space-x-4 xl:mb-4 2xl:mb-0">
        <div class="flex-1 min-w-0">
          <%= link_to edit_question_path(question), data: {turbo_frame: :remote_modal} do %>
            <p class="text-base font-semibold text-gray-900 leading-none truncate mb-0.5 dark:text-white hover:underline">
              <%= question.name%>
            </p>
          <% end %>
          <p class="text-xs font-medium text-gray-500 dark:text-gray-400"><%= question.question_type.titleize %></p>
        </div>
      </div>
      <div class="inline-flex items-center w-auto xl:w-full 2xl:w-auto">
        <% if ["list", "list_buttons"].include?(question.question_type) %>
          <%= link_to new_question_path(parent_id: question.id), data: {turbo_frame: :remote_modal}, class: "w-full px-3 py-1 text-sm font-sm text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" do %>
            <svg class="w-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
            </svg>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <ul id="<%= question.node_id %>" class="pl-[34px]">
    <% question.children.each do |child| %>
      <%= render QuestionNodeComponent.new(question: child) %>
    <% end %>
  </ul>
</li>