<li id="<%= dom_id(question) %>" data-accordion="collapse">
  <div class="treeview__level" data-level="<%= question.level_alphabet %>">
    <div class="flex justify-between xl:block 2xl:flex align-center 2xl:space-x-4 h-full mt-2">
      <div class="flex space-x-4 xl:mb-4 2xl:mb-0">
        <div class="flex-1 min-w-0 mr-2">
          <%= link_to edit_question_path(question), data: { turbo_frame: :remote_modal } do %>
            <p class="text-base font-semibold text-gray-900 leading-none truncate mb-0.5 dark:text-white hover:underline">
              <%= question.name %>
            </p>
          <% end %>
          <p class="text-xs font-medium text-gray-500 dark:text-gray-400"><%= question.question_type.titleize %></p>
        </div>
      </div>
      <div class="inline-flex items-center w-auto xl:w-full 2xl:w-auto">
        <% if can_add_child? %>
          <%= link_to add_new_url, data: { turbo_frame: :remote_modal }, class: "me-2 w-full px-3 py-1 text-sm font-sm text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" do %>
            <svg class="w-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
            </svg>
          <% end %>
        <% end %>
        <%= link_to question_path(question), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "me-2 w-full px-3 py-1 text-sm font-sm text-center text-red-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:bg-gray-800 dark:text-red-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" do %>
          <svg class="w-4 text-red-700 dark:text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd" />
          </svg>
        <% end %>
        <% if can_add_child? %>
          <button data-accordion-target="#<%= question.node_id %>" aria-expanded="true" aria-controls="<%= question.node_id %>" class="w-full px-3 py-1 text-sm font-sm text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            <svg data-accordion-icon class="w-4 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <ul id="<%= question.node_id %>" class="pl-[34px]">
    <% if question.list? %>
      <% question.sections.each do |section| %>
        <%= render SectionComponent.new(section:) %>
      <% end %>
    <% else %>
      <% question.children.each do |child| %>
        <%= render QuestionNodeComponent.new(question: child) %>
      <% end %>
    <% end %>
  </ul>
</li>
