<li id="<%= dom_id(question) %>">
  <div class="treeview__level" data-level="<%= question.level_alphabet %>">
    <span class="level-title"><%= link_to question.name, edit_question_path(question), data: {turbo_frame: :remote_modal} %></span>
    <div class="treeview__level-btns">
      <% if ["list", "list_buttons"].include?(question.question_type) %>
        <%= link_to new_question_path(parent_id: question.id), data: {turbo_frame: :remote_modal} do %>
          <div class="btn btn-default btn-sm level-add">
            <span>
              <svg class="w-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
              </svg>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <ul id="<%= question.node_id %>">
    <% question.children.each do |child| %>
      <%= render QuestionNodeComponent.new(question: child) %>
    <% end %>
  </ul>
</li>