<div class="h-full">
  <div class="flex flex-col flex-nowrap min-h-0 min-w-0 flex-grow flex-shrink rounded-tl-xl rounded-tr-xl rounded-br-xl rounded-bl-xl overflow-hidden h-full bg-white shadow-[0_0_5px_0_rgba(0,0,0,0.1),0_0_1px_0_rgba(0,0,0,0.1)]">
    <div class="whatsapp_bubble_wrapper p-[16px]">
      <div class="bg-[rgba(17,27,33,0.4)] pointer-events-none absolute z-[1] opacity-0 inset-0"></div>
      <div class="bg-white absolute min-h-[40] opacity-0 translate-y-full z-[2] pt-[25px] rounded-t-[25px] bottom-0 inset-x-0 before:absolute before:content-[''] before:left-[calc(50%_-_16px)] before:bg-[#5e5e5e] before:h-1 before:w-8 before:top-[calc((25px_-_4px)_/_2)] before:rounded-[25px]"></div>
      <div class="m-2">
        <div class="whatsapp_bubble" style="width: 100%;">
          <div class="bg-white shadow-[0_1px_0.5px_rgba(0,0,0,0.15)] min-h-[20px] relative rounded-tl-none rounded-[7.5px]">
            <div class="whatsapp_bubble_content">
              <% if show_header_text? %>
                <div class="text-[rgba(0,0,0,0.76)] text-[15px] font-bold leading-[19px] pl-[9px] pr-[7px] pt-1.5 pb-0" dir="auto">
                  <span dir="auto" style="overflow-wrap: break-word; text-align: initial;">
                    <%= header_text %>
                  </span>
                </div>
              <% end %>
              <% if show_image? %>
                <div class="pt-[3px] pb-0 px-[3px]">
                  <div class="bg-[#ccd0d5] bg-[center_center] bg-no-repeat bg-[80px_80px] rounded box-border min-w-[240px] after:content-[''] after:block after:pt-[calc(100%*(1_/_1.91))] bg-transparent bg-cover" style="background-image: url('<%= image_url %>');"></div>
                </div>
              <% end %>
              <div class="text-neutral-800 text-[13.6px] leading-[19px] pl-[9px] pr-[7px] pt-[7px] pb-1.5">
                <span class="text-[#282828] text-[13.6px]">
                  <span class="text-left" dir="auto" style="overflow-wrap: break-word;">
                    <%== markdown.render(question.body).strip.gsub("\n", "<br>") %>
                  </span>
                </span>
                <span class="mr-[78px] inline-block"></span>
              </div>
              <% if question.footer.present? %>
                <div class="text-[rgba(0,0,0,0.45)] text-[13px] leading-[17px] pl-[9px] pr-[7px] pt-0 pb-2" dir="auto">
                  <%= question.footer %>
                </div>
              <% end %>
              <time aria-hidden="true" class="text-[rgba(0,0,0,0.4)] text-[11px] h-[15px] leading-[15px] absolute right-[7px] bottom-[3px]">
                19:37
              </time>
            </div>
            <% if show_options? %>
              <div class="px-2 py-0 border-t-[#dadde1] border-t border-solid">
                <% if question.list? %>
                  <div class="whatsapp_bubble_footer flex justify-center flex-row items-center">
                    <span aria-hidden="true" class="bg-no-repeat bg-contain shrink-0 h-4 opacity-80 w-4 mr-1" style="background-image: url('<%= image_path("list.png") %>');"></span>
                    <span class="overflow-hidden text-ellipsis whitespace-nowrap"><%= question.button %></span>
                  </div>
                <% end %>
                <% if question.list_buttons? %>
                  <% children.each do |child| %>
                    <div class="whatsapp_bubble_footer flex justify-center flex-row items-center">
                      <span aria-hidden="true" class="bg-no-repeat bg-contain shrink-0 h-4 opacity-80 w-4 mr-1" style="background-image: url('<%= image_path("icon_button_reply.png") %>');"></span>
                      <span class="overflow-hidden text-ellipsis whitespace-nowrap"><%= child.name %></span>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
