<div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 my-5flex-1 p:2 justify-between flex flex-col h-screen">
  <div class="px-4 py-2 text-gray-400 rounded dark:border-gray-600">
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"><%= @room.name %></h5>
    <% unless @room.bot? %>
      <%= link_to end_session_room_path(@room), data: {turbo_method: :post}, class: "px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
        End Session
      <% end %>
    <% end %>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
  </div>
  <div class="min-h-32 px-4 py-2 text-gray-400 rounded dark:border-gray-60 overflow-y-auto scrollbar flex flex-col">
    <%= turbo_frame_tag :pagination, loading: :lazy, src: room_path(@room, last_message_id: @messages.first.id, format: :turbo_stream) %>
    <%= turbo_frame_tag :messages do %>
      <%= render partial: "rooms/message", collection: @messages, as: :message %>
    <% end %>
  </div>
  <%= turbo_stream_from(dom_id(@room)) %>
  <div class="sticky bottom-0 justify-between items-center w-full bg-white border-t border-gray-200 sm:flex sm:justify-between dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full  py-4 items-center gap-2 inline-flex justify-between">
      <div class="relative w-full" id="message-form">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
