<%= render(Sidebar::BaseComponent.new) do %>
  <%= render(Sidebar::WrapperComponent.new) do |wrapper| %>
    <%= wrapper.with_item(text: "Dashboard", url: root_path, url_type: :exclusive) %>
    <%= wrapper.with_item(text: "Room", url: rooms_path) %>
    <%= wrapper.with_item(text: "Question Tree", url: tree_questions_path) %>
  <% end %>
<% end %>
<div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>
